





















.cartao_conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}









font-size: 1ww;
backface-visibility: hidden;













.cartao_conteudo_resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao:hover .cartao_conteudo {
    transform: rotateY(180deg);
}

.cartao_conteudo-pergunta,
.cartao-conteudo-resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao_conteudo_resposta {
    transform: rotateY(180deg);
}








footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
